<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated ServiceFeatureModel -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="edu.kit.sfm.servicefeaturemodel.presentation.ServicefeaturemodelModelWizardID"
            name="%_UI_ServicefeaturemodelModelWizard_label"
            class="edu.kit.sfm.servicefeaturemodel.presentation.ServicefeaturemodelModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/ServicefeaturemodelModelFile.gif">
         <description>%_UI_ServicefeaturemodelModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated ServiceFeatureModel -->
      <editor
            id="edu.kit.sfm.servicefeaturemodel.presentation.ServicefeaturemodelEditorID"
            name="%_UI_ServicefeaturemodelEditor_label"
            icon="icons/full/obj16/ServicefeaturemodelModelFile.gif"
            extensions="sfm"
            class="edu.kit.sfm.servicefeaturemodel.presentation.ServicefeaturemodelEditor"
            contributorClass="edu.kit.sfm.servicefeaturemodel.presentation.ServicefeaturemodelActionBarContributor">
      </editor>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            adaptable="false"
            id="SFMDesigner.General"
            nameFilter="*.sfm"
            objectClass="org.eclipse.ui.IEditorInput">
         <menu
               id="SFMDesigner.GeneralMenu"
               label="Service Feature Model (SFM)">
            <separator
                  name="group">
            </separator>
         </menu>
         <action
               class="edu.kit.sfm.configuration_set_determination.view.ConfigurationDeterminationActionDelegate"
               id="edu.kit.sfm.editor.determineconfigurations"
               label="Determine configuration set"
               menubarPath="SFMDesigner.GeneralMenu/group">
         </action>
         <menu
               id="SFMDesigner.PerformanceMenu"
               label="SFM Performance">
         </menu>
         <action
               class="edu.kit.sfm.configuration_set_determination.view.ConfigurationDeterminationActionDelegatePerformance"
               id="edu.kit.sfm.editor.determineconfigurationsperformance"
               label="Performance determine configuration set"
               menubarPath="SFMDesigner.PerformanceMenu/group">
         </action>
         <action
               class="edu.kit.sfm.skylinefilter.view.SkylineFilterActionDelegate"
               id="edu.kit.sfm.editor.skylinefilter"
               label="Skyline filter"
               menubarPath="SFMDesigner.GeneralMenu/group">
         </action>
         <action
               class="edu.kit.sfm.skylinefilter.view.SkylineFilterActionDelegatePerformance"
               id="edu.kit.sfm.editor.skylinefilterperformance"
               label="Performance skyline filter"
               menubarPath="SFMDesigner.PerformanceMenu/group">
         </action>
         <action
               class="edu.kit.sfm.skylinefilter.view.SkylineFilterActionDelegatePerformanceBNL"
               id="edu.kit.sfm.editor.skylinefilterperformancebnl"
               label="Performance skyline filter BNL"
               menubarPath="SFMDesigner.PerformanceMenu/group">
         </action>
         <action
               class="edu.kit.sfm.requirementsfilter.view.RequirementsFilterWizardActionDelegate"
               id="edu.kit.sfm.editor.requirementsfilter"
               label="Requirements filter"
               menubarPath="SFMDesigner.GeneralMenu/group">
         </action>
         <action
               class="edu.kit.sfm.requirementsfilterweighted.view.TestWeightedReqActionDelegate"
               id="edu.kit.sfm.editor.testweightedrequirements"
               label="Test weighted requirements..."
               menubarPath="SFMDesigner.GeneralMenu/group">
         </action>
      </objectContribution>
   </extension>

</plugin>
